<launch>
    <include file="$(find motion_estimation_mapping_pkg)/launch/track_frame_launcher.launch"/>
    <node pkg="motion_estimation_mapping_pkg" type="fast_slam" name="slam_server" output="screen"/>
    <node pkg="motion_estimation_mapping_pkg" type="action_client" name="slam_client" output="screen"/>
</launch>