<launch>

    <!-- Topics used in implementation -->
    <arg name="odom_topic"              default="/odom"/>
    <arg name="goal_topic"              default="/cone_pair_midpoint"/>
    <arg name="cone_topic"              default="/cones"/>
    <arg name="detection_threshold"     default="0.20"/>
    <arg name="pairing_wait_time"       default="1.50"/>
    <!-- Distance method options: "euclidean", "manhattan" -->
    <arg name="distance_method_check"   default="euclidean"/>
    
    <!-- Generates the costmap for the second lap navigation -->
    <node pkg="fs_slam" type="generateCostMap" name="a_node" output="screen"/>
    
    <!-- Generates waypoints for the first lap navigation -->
    <node pkg="fs_slam" type="findWaypoints.cpp" name="generate_waypoints_node" output="screen">
        <!-- Parameters destined for acceleration track drive only -->
        <param name="acceleration_min_consecutive_dist" type="double"   value="2.0"/>
        <param name="acceleration_max_consecutive_dist" type="double"   value="5.0"/>
        <param name="acceleration_min_lane_width"       type="double"   value="3.0"/>
        <param name="acceleration_max_lane_width"       type="double"   value="5.0"/>

        <!-- Parameters destined for sprint track drive only -->
        <param name="sprint_min_consecutive_inner_dist" type="double"   value="1.0"/>
        <param name="sprint_max_consecutive_inner_dist" type="double"   value="2.0"/>
        <param name="sprint_min_consecutive_outer_dist" type="double"   value="3.0"/>
        <param name="sprint_max_consecutive_outer_dist" type="double"   value="5.0"/>
        <param name="sprint_min_lane_width"             type="double"   value="2.0"/>
        <param name="sprint_max_lane_width"             type="double"   value="4.0"/>

        <param name="goal"             type="str"   value="$(arg goal_topic)"/>
        <param name="distance_method"  type="str"   value="$(arg distance_method_check)"/>

        <!-- Common parameters -->
        <param name="odom"              type="str"      value="$(arg odom_topic)"/>
        <param name="cone"              type="str"      value="$(arg cone_topic)"/>
        <param name="detection_thresh"  type="double"   value="$(arg detection_threshold)"/>
        <param name="wait_time"         type="double"   value="$(arg pairing_wait_time)"/>

    </node-->

</launch>