<launch>
    <!-- <include file="$(find eufs_gazebo)/launch/small_track.launch"/>                    Select track here - NOT WORKING, SIM MUST BE IN SEPARATE TERMINAL -->
    <include file="$(find perception_pkg)/launch/lidar.launch"/>                            <!-- Launch perception package-->
    <include file="$(find motion_estimation_mapping_pkg)/launch/slam_launch.launch"/>       <!-- Launch mapping package -->
</launch>